@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark Mode */
  --Text-DarkMode: #ffffff;
  --TextSecond-DarkMode: #d1d5db;
  --TextThird-DarkMode: #262626;
  --TextFourth-DarkMode: #6e6e6e;
  --Background-DarkMode: #0d0d0d;
  --BackgroundSecond-DarkMode: #f1f5f9;
  --BackgroundThird-DarkMode: #171717;
  --Primary-DarkMode: #355ad4;
  --Secondary-DarkMode: #104f89;
  --Accent-DarkMode: #0fb39d;
  /* Spacing */
  --s-48: 3rem;
  --s-32: 2rem;
  --s-24: 1.5rem;
  --s-16: 1rem;
  --s-8: .5rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .9);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--Primary-DarkMode);
  background: linear-gradient(90deg, var(--Primary-DarkMode) 13%, var(--Accent-DarkMode) 120%);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  font-size: .875rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: .75rem;
}


