.hero h1 {
    font-size: var(--h-2);
    color: var(--Text-DarkMode);
    font-weight: bold;
    margin-bottom: var(--s-2);
    text-align: justify;
}
@media (max-width: 1200px) {
    .hero h1 {
        font-size: var(--h-4);
        text-align: justify;
    }
}
@media (max-width: 768px) {
    .hero h1 {
        font-size: var(--h-4);
    }
}
.hero p {
    font-size: var(--p-4);
    color: var(--TextSecond-DarkMode);
    margin-bottom: var(--s-2);
    text-align: justify;
}
@media (max-width: 768px) {
    .hero p {
        font-size: var(--p-2);
    }
}