.hero h1 {
    font-size: var(--h-2);
    color: var(--Text-DarkMode);
    font-weight: bold;
    margin-bottom: var(--s-2);
    text-align: justify;
}
@media (max-width: 1200px) {
    .hero h1 {
        font-size: var(--h-4);
        text-align: justify;
    }
}
@media (max-width: 768px) {
    .hero h1 {
        font-size: var(--h-4);
    }
}
.hero p {
    font-size: var(--p-4);
    color: var(--TextSecond-DarkMode);
    margin-bottom: var(--s-2);
    text-align: justify;
}
@media (max-width: 768px) {
    .hero p {
        font-size: var(--p-2);
    }
}
.hero .custom-card-h {
    color: var(--Primary-DarkMode);
    font-size: var(--p-5);
    margin-bottom: 0;
}
.hero .custom-card-p {
    color: var(--TextThird-DarkMode);
    font-size: var(--p-1);
    margin-bottom: 0;
}
.hero .custom-flash-svg {
    color: var(--Primary-DarkMode);
}
